PORT=3000
HOST=127.0.0.1
APP_NAME=notification-app-be
EVALUATION_ACCESS_TOKEN=your_access_token_here
EVALUATION_NOTIFICATION_URL=http://4.224.186.213/evaluation-service/notifications
EVALUATION_LOG_URL=http://4.224.186.213/evaluation-service/logs
EVALUATION_LOG_TIMEOUT_MS=8000
EVALUATION_LOG_RETRIES=1
