PORT=3001
HOST=127.0.0.1
APP_NAME=vehicle-scheduler-be
EVALUATION_ACCESS_TOKEN=your_access_token_here
EVALUATION_DEPOTS_URL=http://4.224.186.213/evaluation-service/depots
EVALUATION_VEHICLES_URL=http://4.224.186.213/evaluation-service/vehicles
EVALUATION_LOG_URL=http://4.224.186.213/evaluation-service/logs
EVALUATION_LOG_TIMEOUT_MS=8000
EVALUATION_LOG_RETRIES=1
